package ${package}.vo;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import com.fasterxml.jackson.annotation.JsonFormat;
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import ${package}.utils.jackson.CustomDoubleSerialize;
import ${package}.utils.jackson.CustomPhotoImageSerialize;
import ${package}.utils.validator.constraints.NotContainSpaces;
import org.hibernate.validator.constraints.Length;
import org.hibernate.validator.constraints.NotBlank;

import java.io.Serializable;
import java.util.Date;
import java.time.*;


#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@ApiModel(description = "${comments}", parent = ${className}Entity.class)
public class ${className}Vo extends ${className}Entity  implements Serializable {
	private static final long serialVersionUID = 1L;
    //=============================关联查询的字段，请在下面书写========================
}
