<!DOCTYPE html>
<html>
<head>
    <title>系统日志</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="../public/libs/jquery.min.js"></script>
    <script src="../public/plugins/layui/layui.all.js"></script>
    <link href="../public/plugins/layui/css/layui.css" media="all" rel="stylesheet"/>

    <script src="../public/libs/bootstrap.min.js"></script>
    <script src="../public/libs/vue.min.js"></script>
    <script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
    <!--nice validator-->
    <link href="../public/plugins/nice-validator/jquery.validator.css" rel="stylesheet" type="text/css"/>
    <script src="../public/plugins/nice-validator/jquery.validator.min.js"></script>
    <script src="../public/plugins/nice-validator/local/zh-CN.js"></script>
    <!--工具插件-->
    <script src="../public/plugins/accounting.min.js"></script>
    <script src="../public/plugins/date_fns.min.js"></script>
    <script src="../public/plugins/moment.min.js"></script>
    <script src="../public/plugins/lodash.min.js"></script>
    <script src="../public/js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div>
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.key" @keyup.enter="query" placeholder="用户名、用户操作、ip、设备信息">
            </div>
            <div class="form-group col-sm-2">
                <select name="operation" class="form-control" v-model="q.operation" @change="query">
                    <option value="">请选择用户操作类型</option>
                    <option v-for="option in operationList" :value="option">
                        {{ option }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-2">
                <select name="sourceType" class="form-control" v-model="q.sourceType"  @change="query">
                    <option value="">请选来源类型</option>
					<option value="0">系统日志</option>
					<option value="1">接口日志</option>
                </select>
            </div>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" id="deviceInfo" v-model="q.deviceInfo" @keyup.enter="query" placeholder="设备型号">
            </div>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" id="createDate_BETWEEN" v-model="q.createDate_BETWEEN"
                       @keyup.enter="query" placeholder="操作时间">
            </div>
            <a class="btn btn-primary btn-sm" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
        </div>
        <div class="form-group col-sm-12">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>

</div>
<!--daterangepicker 时间控件-->
<link rel="stylesheet" type="text/css" media="all" href="../public/plugins/daterangepicker/daterangepicker.css"/>
<script type="text/javascript" src="../public/plugins/daterangepicker/daterangepicker.js"></script>
<!--业务相关-->
<script src="../public/js/sys/log.js"></script>
</body>
</html>