<!DOCTYPE html>
<html>
<head>
    <title>用户疑问表</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../public/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../public/css/main.css">
    <script src="../../public/libs/jquery.min.js"></script>

    <script src="../../public/plugins/layui/layui.js"></script>
    <link href="../../public/plugins/layui/css/layui.css" media="all" rel="stylesheet">
    <script src="../../public/libs/bootstrap.min.js"></script>
    <script src="../../public/libs/vue.min.js"></script>
    <script src="../../public/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../public/plugins/ztree/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../ueditor/ueditor.custom.ourslook.js"></script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="../../ueditor/lang/zh-cn/zh-cn.js"></script>
    <!--工具相关-->
    <script src="../../public/plugins/accounting.min.js"></script>
    <script src="../../public/plugins/date_fns.min.js"></script>
    <script src="../../public/plugins/lodash.min.js"></script>
    <script src="../../public/js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <!-- 查询条件根据需要打开 -->
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.title" @keyup.enter="query" placeholder="标题" />
            </div>
            <a v-if="hasPermission('infquestions:save')" class="btn btn-primary btn-sm" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a v-if="hasPermission('infquestions:update')" class="btn btn-primary btn-sm" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a v-if="hasPermission('infquestions:delete')" class="btn btn-primary btn-sm" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <div class="form-group col-sm-12">
            <table class="layui-hide" id="jqGrid" lay-filter="jqGridFilter"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form id="addOrUpdateForm" class="form-horizontal col-md-12" style="width: auto">

            <div class="form-group col-md-12">
                <div class="col-sm-1 control-label"><span class="require">*</span>标题</div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" v-model="infQuestions.title" placeholder="标题"
                           data-rule="标题:required;length(0~200)" maxlength="200"/>
                </div>
                <div class="col-sm-1 control-label"><span class="require">*</span>排序</div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" v-model="infQuestions.sort" placeholder="排序"
                           data-rule="排序:required;busInt"/>
                </div>
            </div>

            <div class="form-group  col-md-12">
                <div class="col-sm-1 control-label"><span class="require">*</span>&nbsp;内容表</div>
                <div class="col-sm-11">
                    <div id="ueditor" name="content" v-model="infQuestions.content"
                         style="width:100%;height:300px;"></div>
                </div>
            </div>
            <div class="form-group  col-md-12">
                <div class="col-sm-5 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="goBack" value="返回"/>
            </div>
        </form>
    </div>
</div>

<!--业务相关-->
<script src="../../public/js/generator/common/infquestions.js?v=ourslook00000627_1"></script>
<!--nice validator-->
<link href="../../public/plugins/nice-validator/jquery.validator.css" rel="stylesheet" type="text/css"/>
<script src="../../public/plugins/nice-validator/jquery.validator.min.js" type="text/javascript"></script>
<script src="../../public/plugins/nice-validator/local/zh-CN.js" type="text/javascript"></script>
<script src="../../public/js/common.js"></script>
<!-- datepicker  时间段使用laydate -->
<!-- datepicker  普通时间酌情使用 -->
<!--
<link  href="../../public/plugins/bootstrap-datepicker/datepicker.css" rel="stylesheet" type="text/css"/>
<script src="../../public/plugins/bootstrap-datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<link  href="../../public/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>
<script src="../../public/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
-->
</body>
</html>